p.alert-danger {
    padding: 10px;
    border-radius: 10px;
    background: var(--ion-color-danger);
    color: #fff;
}

.logo-row {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.done-button {
    background: #fff !important;
    color: var(--ion-color-primary) !important;
}

.textaligncenter {
    text-align: center;
}