p.alert-danger {
    padding: 10px;
    border-radius: 10px;
    background: var(--ion-color-danger);
    color: #fff;
}

.button-native {
    width: 20px;
}

.logo-row {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}

.done-button {
    background: #fff !important;
    color: var(--ion-color-primary) !important;
}

.textaligncenter {
    text-align: center;
}

.text-center {
    text-align: center;
    vertical-align: middle;
}

.mappa {
    height: 80%;
}

.ol-unselectable .ol-layers {
    height: 80% !important;
}

.fullscreen:-moz-full-screen {
    height: 100%;
}

.fullscreen:-webkit-full-screen {
    height: 100%;
}

.fullscreen:-ms-fullscreen {
    height: 100%;
}

.fullscreen:fullscreen {
    height: 100%;
}

.fullscreen {
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
}

.fullscreen.stakeholder {
    margin-bottom: 10px;
    width: 100%;
    height: 75%;
}

.map {
    width: 100%;
    height: 100%;
    float: left;
    z-index: 99;
    position: inherit;
}

.map.expandmap {
    position: absolute;
    z-index: 99;
}

.homepage {
    z-index: 98;
}

td {
    height: 200px;
    vertical-align: bottom;
    padding: 5px;
}

#response {
    font-family: courier-new, courier;
}

#podium0,
#podium1,
#podium2,
#podium3 {
    text-align: center;
    vertical-align: middle;
    width: 40px;
    background: gray;
}

#podium0 {
    /* gold */
    height: 100px;
}

#podium1 {
    /* silver */
    height: 80px;
}

#podium2 {
    /* bronze */
    height: 60px;
}

#podium3 {
    /* wood */
    height: 50px;
}

.podium-label {
    position: relative;
    bottom: 20px;
}

.FC {
    background: var(--ion-color-FC) !important
}

.FT {
    background: var(--ion-color-FT) !important
}

.FP {
    background: var(--ion-color-FP) !important
}

.FM {
    background: var(--ion-color-FM) !important
}