// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

// :root {
//     /** primary **/
//     // --ion-color-primary: #3880ff;
//     // --ion-color-primary-rgb: 56, 128, 255;
//     // --ion-color-primary-contrast: #ffffff;
//     // --ion-color-primary-contrast-rgb: 255, 255, 255;
//     // --ion-color-primary-shade: #3171e0;
//     // --ion-color-primary-tint: #4c8dff;
//     --ion-color-primary: #77b566;
//     --ion-color-primary-rgb: 119, 181, 102;
//     --ion-color-primary-contrast: #000000;
//     --ion-color-primary-contrast-rgb: 0, 0, 0;
//     --ion-color-primary-shade: #699f5a;
//     --ion-color-primary-tint: #85bc75;
//     /** secondary **/
//     --ion-color-secondary: #0cd1e8;
//     --ion-color-secondary-rgb: 12, 209, 232;
//     --ion-color-secondary-contrast: #ffffff;
//     --ion-color-secondary-contrast-rgb: 255, 255, 255;
//     --ion-color-secondary-shade: #0bb8cc;
//     --ion-color-secondary-tint: #24d6ea;
//     /** tertiary **/
//     --ion-color-tertiary: #7044ff;
//     --ion-color-tertiary-rgb: 112, 68, 255;
//     --ion-color-tertiary-contrast: #ffffff;
//     --ion-color-tertiary-contrast-rgb: 255, 255, 255;
//     --ion-color-tertiary-shade: #633ce0;
//     --ion-color-tertiary-tint: #7e57ff;
//     /** success **/
//     --ion-color-success: #10dc60;
//     --ion-color-success-rgb: 16, 220, 96;
//     --ion-color-success-contrast: #ffffff;
//     --ion-color-success-contrast-rgb: 255, 255, 255;
//     --ion-color-success-shade: #0ec254;
//     --ion-color-success-tint: #28e070;
//     /** warning **/
//     --ion-color-warning: #ffce00;
//     --ion-color-warning-rgb: 255, 206, 0;
//     --ion-color-warning-contrast: #ffffff;
//     --ion-color-warning-contrast-rgb: 255, 255, 255;
//     --ion-color-warning-shade: #e0b500;
//     --ion-color-warning-tint: #ffd31a;
//     /** danger **/
//     --ion-color-danger: #f04141;
//     --ion-color-danger-rgb: 245, 61, 61;
//     --ion-color-danger-contrast: #ffffff;
//     --ion-color-danger-contrast-rgb: 255, 255, 255;
//     --ion-color-danger-shade: #d33939;
//     --ion-color-danger-tint: #f25454;
//     /** dark **/
//     --ion-color-dark: #222428;
//     --ion-color-dark-rgb: 34, 34, 34;
//     --ion-color-dark-contrast: #ffffff;
//     --ion-color-dark-contrast-rgb: 255, 255, 255;
//     --ion-color-dark-shade: #1e2023;
//     --ion-color-dark-tint: #383a3e;
//     /** medium **/
//     --ion-color-medium: #989aa2;
//     --ion-color-medium-rgb: 152, 154, 162;
//     --ion-color-medium-contrast: #ffffff;
//     --ion-color-medium-contrast-rgb: 255, 255, 255;
//     --ion-color-medium-shade: #86888f;
//     --ion-color-medium-tint: #a2a4ab;
//     /** light **/
//     --ion-color-light: #f4f5f8;
//     --ion-color-light-rgb: 244, 244, 244;
//     --ion-color-light-contrast: #000000;
//     --ion-color-light-contrast-rgb: 0, 0, 0;
//     --ion-color-light-shade: #d7d8da;
//     --ion-color-light-tint: #f5f6f9;
// }
:root {
    --ion-color-primary: #2198A6;
    --ion-color-primary-rgb: 33, 152, 166;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1d8692;
    --ion-color-primary-tint: #37a2af;
    --ion-color-secondary: #CEECF2;
    --ion-color-secondary-rgb: 206, 236, 242;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #b5d0d5;
    --ion-color-secondary-tint: #d3eef3;
    --ion-color-tertiary: #537FA6;
    --ion-color-tertiary-rgb: 83, 127, 166;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #497092;
    --ion-color-tertiary-tint: #648caf;
    --ion-color-success: #82BF78;
    --ion-color-success-rgb: 130, 191, 120;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #72a86a;
    --ion-color-success-tint: #8fc586;
    --ion-color-warning: rgb(217, 133, 102);
    --ion-color-warning-rgb: 217, 133, 102;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #bf755a;
    --ion-color-warning-tint: #dd9175;
    --ion-color-danger: #F23838;
    --ion-color-danger-rgb: 242, 56, 56;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d53131;
    --ion-color-danger-tint: #f34c4c;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #e9ffeb;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-color-FC: rgba(65, 171, 93, 1); //conservative
    --ion-color-FT: rgba(45, 160, 194, 1); //touristic
    --ion-color-FP: rgba(253, 110, 10, 1); //productive
    --ion-color-FM: rgba(231, 41, 138, 1); //mitigation
    --ion-color-FC_short: rgba(65, 171, 93, 1); //conservative
    --ion-color-FT_short: rgba(45, 160, 194, 1); //touristic
    --ion-color-FP_short: rgba(253, 110, 10, 1); //productive
    --ion-color-FM_short: rgba(231, 41, 138, 1); //mitigation
    --ion-color-HEXAGONRESBODY: rgb(41, 155, 231); //mitigation
}

.ion-color-HEXAGONRESBODY {
    --ion-color-base: var(--ion-color-HEXAGONRESBODY) !important;
}

.ion-color-FC {
    --ion-color-base: var(--ion-color-FC) !important;
}

.ion-color-FT {
    --ion-color-base: var(--ion-color-FT) !important;
}

.ion-color-FP {
    --ion-color-base: var(--ion-color-FP) !important;
}

.ion-color-FM {
    --ion-color-base: var(--ion-color-FM) !important;
}

.ion-color-FC_short {
    --ion-color-base: var(--ion-color-FC_short) !important;
}

.ion-color-FT_short {
    --ion-color-base: var(--ion-color-FT_short) !important;
}

.ion-color-FP_short {
    --ion-color-base: var(--ion-color-FP_short) !important;
}

.ion-color-FM_short {
    --ion-color-base: var(--ion-color-FM_short) !important;
}